@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
 margin: 0;
  padding: 0;
  /* removed these styles from body and put them in universal selector instead */
}
body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* making the body a flex container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  display: flex;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  padding: 10px;
  display: flex;
  gap: 13px;
}
.footer {
background: lightgray;
align-items: center;
}