*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  /* moving footer to the bottom */
  display: flex;
  flex-direction: column;
justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
display: flex;
align-items: center;
font-size: 28px;
font-weight: 800;
padding-left: 15px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  /* change width to min-width property */
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 15px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
/* remove underline from links */
a {
  text-decoration: none;
  color: #eef;
  font-size: 22px;
}

li {
  list-style: none;
  margin-bottom: 14px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 20px;
  width: 300px;
}
.both {
  display: flex;
  height: 100vh;
  flex: 1;
}

.all-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding: 46px;
}