* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header  {
  font-family: monospace;
  background: papayawhip;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links, .right-links {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

.left-links ul {
  justify-content: flex-start;
}

.right-links ul{
  justify-content: end;
}
